Automatisierungen/Faxumbenennung/FaxumbenennungOCR.json
{
  "name": "Test Umbenennung 2",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "C:\\\\Users\\\\lolly\\\\Desktop\\\\n8nTest\\\\Workflow\\\\*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -752,
        -1412
      ],
      "id": "10251485-59d4-487e-8f90-4fc6a81148c0",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -528,
        -1484
      ],
      "id": "1321160b-fd12-45c1-a333-f48ec126a715",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": "gemma3:27b",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -928,
        -992
      ],
      "id": "1f7d4dc2-b6b5-4899-bb7f-4b89279d393f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "qIv9jou3jQrTNGNS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        -1072
      ],
      "id": "44e771ff-b009-4a3a-becf-100184017dd3",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Daten aus dem KI-Output holen\nconst output = $input.item.json.output;\nconst docType = output.docType || 'Unklassifiziert';\nconst index = $itemIndex; // Für einzigartige Dateinamen\n\n// Pfade (wie bei Ihnen)\nconst originalFileName = $input.item.binary.data.fileName || 'document.pdf';\nconst newPath = 'C:\\\\\\\\Users\\\\\\\\lolly\\\\\\\\Desktop\\\\\\\\n8nTest\\\\\\\\Workflow\\\\\\\\umbenannt\\\\\\\\';\n\nlet newFileNameBase = \"\"; // Der \"Hauptteil\" des neuen Namens\n\n// Funktion zum Bereinigen von Text für Dateinamen\nfunction cleanText(text) {\n  if (typeof text !== 'string' || text.length === 0) {\n    return '';\n  }\n  return text.replace(/[^a-zA-Z0-9äöüÄÖÜß]/g, '');\n}\n\n// Logik-Block: Entscheide den Namen basierend auf dem docType\nswitch (docType) {\n  case 'Arztbrief':\n    // Logik wie bisher, aber mit besserer Bereinigung\n    const spec = cleanText(output.speciality);\n    const doc = cleanText(output.doctorname);\n    // Fallback, falls die KI doch mal leere Felder liefert\n    const specialityPart = spec.length > 0 ? spec : 'Arztbrief';\n    const doctorPart = doc.length > 0 ? doc : 'Unbekannt';\n    newFileNameBase = `${specialityPart}${doctorPart}`;\n    break;\n\n  case 'Rezept':\n  case 'Werbung':\n  case 'Kontakt':\n  case 'Sonstiges':\n    // Logik für alle anderen Typen: Nimm den Typ + die Zusammenfassung\n    const summary = cleanText(output.summary);\n    const summaryPart = summary.length > 0 ? `_${summary}` : '';\n    newFileNameBase = `${docType}${summaryPart}`;\n    break;\n\n  default:\n    // Fallback für alles, was die KI \"Unklassifiziert\" nennt\n    newFileNameBase = `Unklassifiziert_${docType}`;\n}\n\n// Erstelle den finalen, einzigartigen Dateinamen\nconst newFileName = `${newFileNameBase}_${index}.pdf`;\nconst newFilePath = newPath + newFileName;\n\nconsole.log('Neuer Dateiname:', newFileName);\n\n// Gebe die Daten an die 'Write File' Node zurück\nreturn {\n  json: {\n    newFileName,\n    newFilePath\n  },\n  binary: $input.item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -1072
      ],
      "id": "b50a8e01-943d-40f2-a08f-09a41bd99dce",
      "name": "Create new File Name"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.newFilePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -144,
        -1072
      ],
      "id": "17300db4-422c-48ea-967e-d919571475d9",
      "name": "Write File with New Name"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "C:\\Users\\lolly\\Desktop\\n8nTest\\Workflow",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -1568
      ],
      "id": "11b1af7c-0c1a-4a63-af00-e4ea88cac393",
      "name": "Local File Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -1376
      ],
      "id": "18cadd70-be5a-4028-89d7-421795832299",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "===SYSTEM==\nDu bist ein KI-Assistent zur Dokumenten-Sortierung in einer Arztpraxis.\nDeine Aufgabe ist es, das folgende Dokument zu analysieren und zu klassifizieren.\nDu musst IMMER ein JSON-Objekt zurückgeben, das ALLE VIER Felder enthält.\nGib NUR das JSON-Objekt zurück, ohne Text davor oder danach.\n\n!! SEHR WICHTIGE REGEL !!\nDie Praxis, für die du sortierst, gehört **Dr. Florian Rasche** (Facharzt für Allgemeinmedizin).\nWenn Dr. Rasche als **Empfänger** auf dem Brief steht, ist das KEIN Arztbrief, den du analysieren sollst.\nExtrahiere **NIEMALS** \"Allgemeinmedizin\" und \"Rasche\" als `speciality` und `doctorname`. Das ist der Empfänger, nicht der Absender!\nIgnoriere den Empfänger (Dr. Rasche) bei deiner Analyse.\n\n==REGELN==\n1.  **Ermittle \"docType\" (zuerst!):**\n    * **\"Arztbrief\"**: NUR wenn es ein **echter Arztbrief von einem ANDEREN Arzt** ist (z.B. Kardiologe [cite: 263], Pneumologe [cite: 87]).\n    * **\"Rezept\"**: Für Apotheken-Bestellungen, Medikationspläne, Lieferungen[cite: 200].\n    * **\"Werbung\"**: Für Werbematerial (z.B. CuraMed [cite: 232]).\n    * **\"Kontakt\"**: Für Anfragen/Berichte von Heimen (z.B. Sturzprotokoll [cite: 2]), Patienten, etc.\n    * **\"Sonstiges\"**: Für alles andere.\n\n2.  **Fülle die Felder (basierend auf docType):**\n    * **WENN \"docType\" = \"Arztbrief\":**\n        * Extrahiere `speciality` (z.B. \"Kardiologie\") des *Absenders*.\n        * Extrahiere `doctorname` (Nachname, z.B. \"Weber\") des *Absenders*.\n        * Setze `summary` auf einen leeren String (\"\").\n    * **WENN \"docType\" NICHT \"Arztbrief\" ist:**\n        * Setze `speciality` auf einen leeren String (\"\").\n        * Setze `doctorname` auf einen leeren String (\"\").\n        * Erstelle eine 2-3 Wort-Zusammenfassung des Inhalts als `summary` (z.B. \"Bestellung Schmidt\", \"Werbung Praxisbedarf\", \"Sturzprotokoll Bauer\").\n\n==DOKUMENT==\n{{ $json.text }}\n\n==AUSGABE (NUR JSON)==",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -928,
        -1184
      ],
      "id": "02551d59-a441-4ba7-a2d0-23ac6641e45e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"docType\": \"string\",\n  \"speciality\": \"string\",\n  \"doctorname\": \"string\",\n  \"summary\": \"string\"\n}"
      },
      "id": "dac4cde5-b636-449c-981e-c275ace1ae3e",
      "name": "Extract Specialty and Name",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -784,
        -992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44478b94-e18b-4c63-b9c6-5644a1328261",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -1412
      ],
      "id": "dd46b830-810b-442b-8536-f6329eaff06d",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "language": "deu"
        }
      },
      "type": "n8n-nodes-tesseractjs.tesseractNode",
      "typeVersion": 1,
      "position": [
        144,
        -1340
      ],
      "id": "9b7b1503-3ecc-4d60-a034-039c180da5b7",
      "name": "Tesseract"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        -1412
      ],
      "id": "516e5b68-48c6-4137-8d6f-b8fef3f8adef",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -304,
        -1412
      ],
      "id": "a2126ae2-ef66-4648-a1f8-2e61ed711ddb",
      "name": "Merge2"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create new File Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new File Name": {
      "main": [
        [
          {
            "node": "Write File with New Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Specialty and Name": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tesseract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tesseract": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3d13c1c-6c24-4c75-b050-6270df030b69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb78821b62061571ea19fb3a8220488d720f4dcfe82424bb9506b473b908f5a5"
  },
  "id": "CXGOoOFcLDd4rq1u",
  "tags": []
}